<!DOCTYPE html>
<html lang="en">
  <head>
    <title>홈 - 국어 단어 달인</title>
  </head>
  <%- include("header"); %>


<body>
  <%- include("menu"); %>
<!-- Jumbotron -->
<div class="jumbotron text-center">

  <!-- Title -->
  <h4 class="card-title h4 pb-2"><strong>Korean WordMaster</strong></h4>

  <!-- Card image -->
  <div class="view overlay my-4">
    <img src="/kingSejong.jpg" width="700" class="img-fluid" alt="" style="margin-left: auto; margin-right: auto;">
    <a href="#">
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <h5 class="indigo-text h5 mb-4">"Best Tool to Study Korean"</h5>

  <p class="card-text">3412 Shin chae-Hun</p>

  <!-- Linkedin -->
  <a class="fa-lg p-2 m-2 li-ic" href = "https://blog.naver.com/black7599"><i class="fab fa-linkedin-in grey-text"></i></a>
  <!-- Dribbble -->
  <a class="fa-lg p-2 m-2 fb-ic" href = "https://www.facebook.com/profile.php?id=100005165676692&ref=bookmarks"><i class="fab fa-facebook-f grey-text"></i></a>
  
  <% include("footer"); %>
</body>
</html>