<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark secondary-color elegant-color">

    <!-- Navbar brand -->
    <a class="navbar-brand" href="/">국어 단어 달인</a>
  
    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
      aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="basicExampleNav">
  
      <!-- Links -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/api/today/list">오늘의 단어</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/api/word/list">단어 목록</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/api/inventory/list">나만의 단어장</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/api/word/new">단어 추가</a>
        </li>
      </ul>
      <!-- Links -->
      
      <% if (user === null) { %>
      <ul class="navbar-nav ml-auto"> <!-- mr-auto는 왼쪽 정렬. ml-auto가 오른쪽 정렬-->
        <li class="nav-item">
          <a class="nav-link" href="/api/user/login">로그인</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/api/user/signup">회원가입</a>
        </li>
      </ul>
      <% } else { %>
      <ul class="navbar-nav ml-auto"> <!-- mr-auto는 왼쪽 정렬. ml-auto가 오른쪽 정렬-->
          <li class="nav-item">
            <a class="nav-link"><%= "반갑습니다, " + user.nickname + "님"%></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/api/user/logout">로그아웃</a>
          </li>
       </ul>
       <% } %>
    </div>
    <!-- Collapsible content -->
  
  </nav>
  <!--/.Navbar-->